@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    
    width: 100vw;
    height: 100vh;
}
.width{
    width: 6%;
}
.bbw{
    border-bottom: solid 1px white;
}
@media screen and (max-width:950px) {
    .width{
        width: 10%;
    }
}
.btw{
    border-top: solid 1px white;
}